<div>
    <h4>Select Session</h4>

    <div class="row center-block" style="padding-bottom:4px;">
        <form method="get" class="form-horizontal" role="form">
            <select id="id" name="id" class="form-control chosen-select" onchange="this.form.submit()"
                    data-placeholder="Select Session..." style="width:100%;">
                {% for session_id, session_details in sessions %}
                    <option value="{{ session_id }}"{% if session_id == session_data.sid %} selected {% endif %}>{{ session_details.date }} {% if show_session_length == true %}  (Length: {{ session_details.length }}, Distance: {{ session_details.distance }}) {% endif %} ({{ session_details.model }})</option>
                {% endfor %}
            </select>
            {% for selected_variable,data in plot_data %}
                <input type="hidden" name="plotdata[]" value="{{ selected_variable }}">
            {% endfor %}
            <noscript>
                <input type="submit" class="input-sm">
            </noscript>
        </form>

        {% if selected_session_id is defined and 1 == 2 %}

            <div class="btn-group btn-group-justified">
                <table style="width:100%">
                    <tr>
                        <td>
                            <form method="post" class="form-horizontal" role="form"
                                  action="?mergesession=<?php echo $selected_session_id; ?>&mergesessionwith=<?php echo $selected_session_id_next; ?>"
                                  id="formmerge">
                                <div align="center" style="padding-top:6px;"><input class="btn btn-info btn-sm"
                                                                                    type="submit" id="formmerge"
                                                                                    name="merge" value="Merge"
                                                                                    title="Merge this session (<?php echo $seshdates[$selected_session_id]; ?>) with the next session (<?php echo $seshdates[$selected_session_id_next]; ?>)." <?php if(!$selected_session_id_next){ echo 'disabled="disabled"';} ?>
                                    />
                                </div>
                            </form>
                        </td>
                        <script type="text/javascript">
                            //Adding a confirmation dialog to above forms
                            $('#formmerge').submit(function () {
                                var c = confirm("Click OK to merge sessions (<?php echo $seshdates[$selected_session_id]; ?>) and (<?php echo $seshdates[$selected_session_id_next]; ?>).");
                                return c; //you can just return c because it will be true or false
                            });
                        </script>

                        <td>
                            <form method="post" class="form-horizontal" role="form"
                                  action="?deletesession=<?php echo $selected_session_id; ?>" id="formdelete">
                                <div align="center" style="padding-top:6px;"><input class="btn btn-info btn-sm"
                                                                                    type="submit" id="formdelete"
                                                                                    name="delete" value="Delete"
                                                                                    title="Delete this session (<?php echo $seshdates[$selected_session_id]; ?>)."/>
                                </div>
                            </form>
                        </td>
                        <script type="text/javascript">
                            $('#formdelete').submit(function () {
                                var c = confirm("Click OK to delete session (<?php echo $seshdates[$selected_session_id]; ?>).");
                                return c; //you can just return c because it will be true or false
                            });
                        </script>
                    </tr>
                </table>
            </div>
        {% endif %}

    </div>
</div>